<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Signup in to your
            account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" #formData="ngForm" (ngSubmit)="SignupHandle(formData)">
            <div>
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                <div class="mt-2">
                    <input id="name" name="name" #name="ngModel" [(ngModel)]="FormObject.name" type="name" autocomplete="name"
                        required
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div *ngIf="name.invalid && name.touched" class="text-red-500 text-sm mt-1">
                    <span *ngIf="name.errors?.['required']">Please enter the name</span>
                    <!-- <span *ngIf="fullname.errors?.['fullname']">Invalid fullname format</span> -->
                </div>
            </div>
            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                <div class="mt-2">
                    <input id="email" name="email" #email="ngModel" [(ngModel)]="FormObject.email" type="email"
                        autocomplete="email" required
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm mt-1">
                    <span *ngIf="email.errors?.['required']">Please enter the email</span>
                    <!-- <span *ngIf="fullname.errors?.['fullname']">Invalid fullname format</span> -->
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                    </div>
                </div>
                <div class="mt-2">
                    <input id="password" name="password" #password="ngModel" [(ngModel)]="FormObject.password" type="password"
                        autocomplete="current-password" required
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div *ngIf="password.invalid && password.touched" class="text-red-500 text-sm mt-1">
                    <span *ngIf="password.errors?.['required']">Please enter the password</span>
                    <!-- <span *ngIf="fullname.errors?.['fullname']">Invalid fullname format</span> -->
                </div>
            </div>
            <div>
                <label for="pic" class="block text-sm font-medium leading-6 text-gray-900">Upload your Profile
                    Pic</label>
                <div class="mt-2">
                    <input id="pic" name="pic" #pic="ngModel" [(ngModel)]="FormObject.pic" type="file" autocomplete="pic" required
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div *ngIf="pic.invalid && pic.touched" class="text-red-500 text-sm mt-1">
                    <span *ngIf="pic.errors?.['required']">Please enter the pic</span>
                    <!-- <span *ngIf="fullname.errors?.['fullname']">Invalid fullname format</span> -->
                </div>
            </div>


            <div>
                <button type="submit"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Signup
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Not a member?
            <a routerLink="/" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login</a>
        </p>
    </div>
</div>